{% extends "admin/base.html" %}
{% load static %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">

    <img src="{% static 'logo.jpg' %}" height="40px" />
</a></h1>

{% endblock %}

{% block nav-global %}{% endblock %}
